body {
    background-color: lightgray;
  }
#wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
    text-align: center;
}
#header {
    width: 100%;
    height: 75px;   
    background-color: gray;
}
#currentUsersWrapper {
    min-width: 100px;
    width: 25%;
    max-width: 200px;
    float:left;

}
#currentGame {
    display: inline-block;

}

#feedwrapper {
    min-width: 100px;
    width: 25%;
    max-width: 200px;
    float:right;

}

.validOption {
    cursor:pointer;
    background-color: black; 
    color: white;
    border-radius: 15px;
    padding-left: 3px;
    padding-right: 3px;
}
.invalidOption {
    cursor:not-allowed;
    background-color: darkgray; 
    color: white;  
    border-radius: 15px;
}